<!-- <div class="main">
   <mat-card class="card1">
<div class="div1"></div>
   </mat-card>
   <mat-card class="card1">
<div class="div2"></div>
   </mat-card>
   <mat-card class="card1">
<div class="div3"></div>
   </mat-card>
   <mat-card class="card1">
<div class="div4"></div>
   </mat-card>
</div> -->



<mat-card class="card1">
  <h2>Dashboard</h2>
  <div class="card1A">
    <mat-card class="div2">
      <mat-card-content>
        <h4>LISTED PROPERTY</h4>

        <div class="div2A">26,873 <span class="span1">0.3%</span></div>

        <mat-progress-bar
          mode="determinate"
          value="40"
          class="progress_bar"
        ></mat-progress-bar>
      </mat-card-content>
    </mat-card>

    <mat-card class="div2">
      <mat-card-content>
        <h4>SERVING CITIES</h4>

        <div class="div2A">
          384<span class="span2">7 New cities this week</span>
        </div>

        <mat-progress-bar
          mode="determinate"
          value="20"
          class="progress_bar2"
        ></mat-progress-bar>
      </mat-card-content>
    </mat-card>

    <mat-card class="div2">
      <h4>ONLINE VISITORS</h4>

      <div class="div2A">
        84,729<span class="span3"> Avg. 327 visits daily</span>
      </div>

      <mat-progress-bar
        mode="determinate"
        value="60"
        class="progress_bar3"
      ></mat-progress-bar>
    </mat-card>

    <mat-card class="div2">
      <h4>ONLINE QUERIES</h4>

      <div class="div2A">87,239<span class="span3"> 38% past month</span></div>

      <mat-progress-bar
        mode="determinate"
        value="60"
        class="progress_bar3"
      ></mat-progress-bar>
    </mat-card>
  </div>

  <span class="setting-img"
    ><img
      src="/assets/icons8-wrench.gif"
      alt=""
      class="user-image mr-1 p-2"
      height="50"
      width="50"
    />
  </span>

  <div class="card1B">
    <mat-card class="div3">
      <mat-card-content>
        <h3>YOUR CURRENT PLAN</h3>

        <div class="div3A">$19/<span class="month">month</span></div>
        <br />
        <ul>
          <li>Max listing items 2K</li>
          <li>Max agents-10</li>
        </ul>

        <h2>Expires in 80 days</h2>

        <button mat-raised-button color="warn" class="btn1">Renew Plan</button
        ><br />

        <a href="#">Read more...</a>
      </mat-card-content>
    </mat-card>

    <mat-card class="chart">
      <canvas id="MyChart"></canvas>
    </mat-card>

    <mat-card class="chart2">
      <canvas id="MyChart2"></canvas>
    </mat-card>
  </div>
  <mat-card class="card7">
    <h2></h2>

    <div class="div2A">
      Modern home

      <br /><br />
      <p class="span7">
        Structure sales Pvt. Ltd is boston's reputed government construction
        company since 2011.y
      </p>
      <br /><br />
      <a href="#">Read More</a>
    </div>
  </mat-card>
</mat-card>
