<div class="container login__container my-5">
    <div class="row login__row">
        <div class="col-md-6 d-flex">
            <img class="login__imagek align-self-center" src="https://www.freevector.com/uploads/vector/preview/28488/Businessman_Happy_Accepting_News.jpg"
                width="100%" alt="" />
        </div>
        <div class="col-md-5 d-flex">
            <div class="align-self-center card login__card shadow-sm w-100">
                <div class="card-body">
                    
                    <form [formGroup]="signForm" (ngSubmit)="signUp()">
                        <h2 class="text-muted text-center">Sign up</h2>

                        <div class="my-5">
                            <h5 class="text-center">
                              User  Sign In
                            </h5>
                        </div>

                        <div class="">
                            <div class="form-group">
                                <label >Name</label>
                                <input type="text" formControlName ="name" placeholder="Enter Name" class="form-control form-control-lg" />
                            </div>
                            <div class="form-group">
                                <label >Mobile Number</label>
                                <input type="number" formControlName ="mobile"  placeholder="Enter Mobile no" class="form-control form-control-lg" />
                            </div>
                            <div class="form-group">
                                <label >Email address</label>
                                <input type="email"  formControlName ="email" placeholder="Enter email address"  class="form-control form-control-lg" />
                            </div>

                            <div class="form-group">
                                <label >Password</label>
                                <input type="password" formControlName ="password"  placeholder="Enter Password" class="form-control form-control-lg" />
                            </div>

                            
                            <div class="form-group">
                                <a  (click)="signUp()" class="btn btn-primary btn-lg btn-block my-3">
                                    Sign Up
                                </a>

                                <div class="dropdown-divider my-4"></div>
                                <div class="text-center w-100">
                           
                                    <a routerLink="/login">Alredy Member ?  click to login!</a>

                                    <small>Built by <a href="https://www.instagram.com/realjblaq/">@skDeveloper</a> </small>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>