<mat-card class="example-card">
    <mat-card-subtitle>Pre-Built Apps</mat-card-subtitle>
    <mat-card-title>
      <button mat-icon-button disabled>
        <a href="#"> Task Manager</a>
      </button>
    </mat-card-title>
    <mat-card-title>
      <button mat-icon-button disabled><a href="#">Mail App</a></button>
    </mat-card-title>
  
    <mat-card-title>
      <button mat-icon-button disabled><a href="#">Contact App</a></button>
    </mat-card-title>
  </mat-card>
  
  <mat-divider></mat-divider>
  
  